/* Preserve whitespace found in Erasmus codes and the like */
.ascii-id {
  white-space: pre-wrap;
  color: inherit;
}

/* Differentiate text in the form widget */
.ascii-widget.form-text {
  font-family: monospace;
  font-size: initial;
}
