{#
/**
 * @file
 * Default theme implementation of an HTTP with Optional Lang element.
 *
 * Available variables:
 * - url: the URL of the element;
 * - title: the title for the link;
 * - langtag: the language tag;
 * - langname: the language name.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
{% if title %}{% set text = title %}{% else %}{% set text = 'Open link in new window'|t %}{% endif %}
{% if langtag %}<small><abbr title="{{ langname }}">{{ langtag }}</abbr></small>&nbsp;&nbsp;{% endif %}
<a href="{{ url }}" target="_blank" rel="nofollow">{{ text }}</a>
